<ion-view view-title="My Tasks" cache-view="false">
    <ion-nav-buttons side="right">
        <button ng-click="data.showDelete = !data.showDelete" class="button">{{editText}}</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="data.showDelete" >
            <ion-item class="item-primary item-icon-right" ng-repeat="task in tasks" href="#/app/task/{{task.taskid}}">
                <div class="{{task.stage | statusColor:task.datedue}}">
                    <div class="pull-left" style="margin-right:10px; color:#fff;">
                        <div class="pull-left text-center task-date">
                            <div class="center p-t-15" style="font-size:38px;">{{task.datedue | moment:"D"}}</div>
                            <div class="center p-t-5">{{task.datedue | moment:"MMM"}}</div>
                        </div>
                    </div>
                    <div class="pull-left" style="padding-top: 20px;">
                        <h3 class="task-title">{{task.title}}</h3>
                        <p class="task-stage">{{task.stage | setStatus:task.datedue}}</p>
                    </div>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
                <ion-delete-button class="ion-minus-circled" ng-click="onTaskDelete($index)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer center">
        <div style="background-color: #735ba5; border-radius: 50%; margin-top:-40px; height: 70px; width:70px;">
            <button id="task-add" ng-click="newTask()" class="button button-icon icon ion-ios-plus-outline pull-right"></button>
        </div>
    </div>
    <script id="new-task.html" type="text/ng-template">
        <div id="new-task" class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">New Task</h1>
                <button class="button button-clear" ng-click="closeNewTask()">Cancel</button>
            </ion-header-bar>
            <ion-content>
                <form name="newTaskForm" novalidate ng-submit="addTask(task, newTaskForm.$valid)">
                    <div class="list">
                        <label class="item item-input" ng-class="{ 'has-error': newTaskForm.title.$touched && newTaskForm.title.$invalid }">
                            <span class="input-label">Title</span>
                            <div class="help-block" ng-messages="newTaskForm.title.$error" ng-if="newTaskForm.title.$touched">
                                <p ng-message="required">*</p>
                            </div>
                            <input name="title" type="text" class="text-right" required placeholder="Task Name" ng-model="task.title" />
                        </label>
                        <label class="item item-input" ng-class="{ 'has-error': newTaskForm.datedue.$touched && newTaskForm.datedue.$invalid }">
                            <span class="input-label">Due Date</span>
                            <div class="help-block" ng-messages="newTaskForm.datedue.$error" ng-if="newTaskForm.datedue.$touched">
                                <p ng-message="required">*</p>
                            </div>
                            <input name="datedue" type="date" class="text-right" required placeholder="Due date for task" ng-model="task.datedue" />
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">Status</div>
                            <select ng-model="task.stage">
                                <option>Not Started</option>
                                <option>Started</option>
                                <option>Done</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label" style="font-size: 14px;">Details</span>
                            <textarea ng-maxlength="500" ng-model="task.details" style="min-height:250px;" placeholder="Enter details for your task." ></textarea>
                        </label>
                    </div>
                    <div class="padding">
                        <button id="btnCreateTask" type="submit" class="button button-block button-outline button-secondary" ng-disabled="newTaskForm.$invalid">Create Task</button>
                    </div>
                </form>
            </ion-content>
        </div>
    </script>
</ion-view>
