<ion-view view-title="Login" cache-view="false">
    <ion-content class="login-page">
        <div class="row">
            <div class="full-width">
                <img src="img/logo.png" style="width:150px;" />
                <h4>AWS Sample Mobile App</h4>
                <div class="tabs-striped tabs-top tabs-color-light">
                    <div class="tabs" style="position:inherit; background-color:transparent;border-color:rgb(221, 221, 221);">
                        <a class="tab-item" ng-class="!registerActive ? 'active' : ''" ng-click="showSignIn()">
                            Sign In
                        </a>
                        <a class="tab-item" ng-class="registerActive ? 'active' : ''" ng-click="showRegister()">
                            Register
                        </a>
                    </div>
                </div>
                <div class="form-group" ng-show="errormessage">
                    <div class="has-error">
                        <p class="server-error help-block">{{errormessage}}</p>
                    </div>
                </div>
                <form name="loginForm" ng-submit="login(user, loginForm.$valid)" novalidate ng-show="!registerActive">
                    <div class="form-content">
                        <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                            <input name="email" type="email" class="form-control input-underline input-lg" required placeholder="Email" ng-model="user.email" />
                            <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                                <p ng-message="required">This field is required</p>
                                <p ng-message="email">This needs to be a valid email</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                            <input name="password" type="password" class="form-control input-underline input-lg" required placeholder="Password" ng-model="user.password" />
                            <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn rounded-btn" type="submit">Sign In</button>
                </form>
                <form name="signupForm" ng-submit="register(newuser, signupForm.$valid)" novalidate ng-show="registerActive">
                    <div class="form-content">
                        <div class="form-group" ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid }">
                            <input name="name" type="text" class="form-control input-underline input-lg" required placeholder="Name" ng-model="newuser.name" />
                            <div class="help-block" ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid }">
                            <input name="email" type="email" class="form-control input-underline input-lg" required placeholder="Email" ng-model="newuser.email" />
                            <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
                                <p ng-message="required">This field is required</p>
                                <p ng-message="email">This needs to be a valid email</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': signupForm.password.$touched && signupForm.password.$invalid }">
                            <input name="password" type="password" class="form-control input-underline input-lg" required placeholder="Password" ng-model="newuser.password" />
                            <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn rounded-btn" type="submit">Register</button>
                </form>
            </div>

        </div>
    </ion-content>
</ion-view>
