<ion-view view-title="About" cache-view="false">
    <ion-content class="light-bg">
        <div class="list m-t-20 m-b-10 setting">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input class="text-right" type="text" ng-model="userinfo.name" ng-readonly="true"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input class="text-right" type="text" ng-model="userinfo.email" ng-readonly="true"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">User ID</span>
                <input class="text-right" type="text" ng-model="userinfo.username" ng-readonly="true"></input>
            </label>
        </div>

        <div class="text-center p-t-10 p-b-30" style="color:#8C8C8C">Version {{version}}</div>

        <button class="button button-full button-light m-b-10" ng-click="logout()">
            SIGN OUT
        </button>
    </ion-content>
</ion-view>
